<link rel="stylesheet" href="../css/home.css">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<!-- Landing Page -->
<section class="showcase" id="home">
	<video src="/video/ComingSoon.mp4" muted loop autoplay></video>
	<div class="landingpageHome">
		<div class="contentHome flex flex-col w-10/12 items-center p-2 md:w-8/12  md:justify-between md:items-center md:flex-row">
			<div class="AmalImgHome flex flex-col w:4/5 justify-center items-center md:w-2/5">
				<img src="/images/Amalthea-White-removebg-preview.png" class="h-80 md:h-96" alt="">
			</div>
			<div class="AmalContentHome w-8/12 md:w-1/2 md:pr-5 flex flex-col items-center md:mt-16">
				<div class="w-full techsummitHome text-3xl flex relative top-10 GemuniLibre flex-col items-center text-center md:flex-row md:justify-end md:text-4xl tracking-widest md:text-right text-white mb-10">
					TECH SUMMIT
				</div>
				<div class="AmalHomeName GemuniLibre text-5xl md:h-1/3 md:text-7xl font-bold md:text-right flex flex-col md:justify-start text-white justify-center text-center">
					AMALTHEA 2021
				</div>
				<!-- <div class="AmalHomeName">
					2021
				</div> -->
				<div class="faviconsAmalContainer h-1/5 w-full flex justify-center pr-2 md:justify-end ">
					<div class="faviconsAmalHome pl-1 flex">
						<a target="_blank" href="https://www.facebook.com/amalthea.iitgn/"><i
								class="fa fa-facebook-square fa-2x p-2"></i></a>
						<a target="_blank"
							href="https://www.linkedin.com/company/amalthea-iit-gandhinagar/?originalSubdomain=in"><i
								class="fa fa-linkedin-square fa-2x p-2"></i></a>
						<a target="_blank" href="https://twitter.com/amalthea_iitgn?lang=en"><i
								class="fa fa-twitter-square fa-2x p-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Landing Page -->
<div class="empty">
	<!-- Testimonials -->
</div>
<section class="px-1 lg:px-10 py-4">
	<div class="text-5xl text-white text-center w-full block font-bold">Our Theme</div>
	<div class="w-full flex flex-col lg:flex-row">
		<div class="w-5/6 lg:w-1/2 p-8 m-8 text-white border-blue-900 border-2 rounded-lg home-card">
			<div class="text-lg mb-2 font-semibold">Unifying Minds, Fostering Ingenuity</div>
			<hr class="para-head h-1 bg-white mb-5 font-thin	">
			Over the past decade, the events, expos and symposiums hosted by Amalthea are a testament to our commitment to empower creative, multi-disciplinary ideas and promote the spirit of Science and Technology.
			This year, we aspire to provide a platform for budding innovators, tinkerers and leaders to collaborate towards developing unconventional, innovative solutions to solve real-world problems and bring positive change to society.
			Amidst these times when the world is still reeling from disconnect and isolation, Amalthea ‘21 is our attempt to promote unity, innovation and collaboration.
		</div>

		<div class="w-5/6 lg:w-1/2 m-8 flex justify-center items-center">
			<a href="https://www.youtube.com/watch?v=c8l1TTekw7k&ab_channel=AmaltheaIITGandhinagar" target="_blank">
				<video src="/video/SocialMedia_Theme.mp4" muted loop autoplay class="rounded-lg"></video>
			</a>
		</div>
	</div>
</section>
<section class="px-1 lg:px-10 py-4">
	<div class="w-full flex flex-col lg:flex-row">
		<div class="w-5/6 lg:w-1/2 p-8 m-8 text-white flex justify-center items-center">
			<div class="text-6xl mb-2 font-bold">India's First Student Run Technical Summit</div>
		</div>
	
		<div class="w-5/6 lg:w-1/2 p-8 m-8 text-white border-blue-900 border-2 rounded-lg home-card">
			<div class="text-lg mb-2 font-semibold">Our Vision</div>
			<hr class="para-head h-1 bg-white mb-5 font-thin">
			Fostering innovation and creative thinking by providing a platform for people to share their thoughts
            and exhibit their ideas. <br>
            Providing an interface between the industry and academia to connect and discuss pivotal technological
            prospects. <br>
            Inspiring young minds to ponder upon currently existing problems and look for innovative and feasible
            solutions.
		</div>
	</div>
</section>
<section class="text-white body-font px-4 lg:px-10 py-4">
	<div class="container px-1 lg:px-12 py-8 mx-auto home-card rounded-xl border-blue-900 border-2">
		<div class="pt-2 pb-2 xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
			<svg xmlns="http://www.w3.org/2000/svg" fill="white"
				class="inline-block w-8 h-8 text-gray-400 mb-4 text-center" viewBox="0 0 975.036 975.036">
				<path
					d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
				</path>
			</svg>
		</div>
		<div class="flex flex-wrap m-4">
			<div class="lg:w-1/3 lg:mb-0 mb-6 p-4 flex justify-center">
				<div class="h-full text-center glassmorph w-15/16 py-6 px-4">
					<img alt="testimonial" class="w-36 h-36 mb-8 mt-4 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="/images/skj.jpg">
					<p class="leading-relaxed font-light text-base textcolorwhite">"Our students have been organising the technical summit Amalthea that has grown way beyond our expectations"</p>
					<span class="inline-block h-1 w-10 rounded spancolor mt-2 mb-2"></span>
					<h2 class="text-gray-200 font-bold title-font tracking-wider text-sm">Dr. Sudhir K. Jain</h2>
					<p class="text-gray-300 font-thin">Director, IIT Gandhinagar</p>
				</div>
			</div>
			<div class="lg:w-1/3 lg:mb-0 mb-6 p-4 flex justify-center">
				<div class="h-full text-center glassmorph w-15/16 py-6 px-4">
					<img alt="testimonial" class="w-36 h-36 mb-8 mt-4 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="/images/namo.jpg">
					<p class="leading-relaxed font-light text-base">"I'm very much impressed with the hard work of the students and the theme of this Technical Summit"</p>
					<span class="inline-block h-1 w-10 rounded spancolor mt-2 mb-2"></span>
					<h2 class="text-gray-200 font-bold title-font tracking-wider text-sm">Shri Narendra Modi</h2>
					<p class="text-gray-300 font-thin">Honorable Prime Minister</p>
				</div>
			</div>
			<div class="lg:w-1/3 lg:mb-0 p-4 flex justify-center">
				<div class="h-full text-center glassmorph w-15/16 py-6 px-4">
					<img alt="testimonial" class="w-36 h-36 mb-8 mt-4 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="/images/anbha.jpg">
					<p class="leading-relaxed font-lighttext-base">"The students were very cooperative and showed wonderful hospitality and team work"</p>
					<span class="inline-block h-1 w-10 rounded spancolor mt-2 mb-2"></span>
					<h2 class="text-gray-200 font-bold title-font tracking-wider text-sm">Dr. Anil Bhardwaj</h2>
					<p class="text-gray-300 font-thin">Director of Space Physics Laboratory, ISRO</p>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="sliders text-white py-8 flex flex-col lg:flex-row justify-center items-center">
	<div class="home-card rounded-xl mx-1 lg:mx-10 my-10 lg:my-0 border-blue-900 border-2 flex flex-col w-11/12 lg:w-5/12">
		<div class="w-full text-center font-serif flex justify-center">
			<div class="sliders-head w-max text-4xl pt-4 lg:text-6xl font-md" style="font-family: 'Montserrat', sans-serif;">Events</div>
		</div>
		<div class="evnt-slider w-72 lg:w-96 flex m-auto">
			<% events.live.forEach(evnt=> { %>
				<div class="h-24 my-14 w-full rounded-xl shadow-xl">
					<img src=<%- evnt.image %> alt=<%- evnt.name %> class="object-contain rounded-xl">
				</div>
			<% }) %>
		</div>
		<!-- <div class="events carousel flex relative w-full">
			<i class="fa fa-angle-left my-auto absolute top-full sm:top-1/2 w-6 z-30 cursor-pointer justify-center left-24"></i>
			<div class="carousel-disp m-auto flex w-80 lg:w-96 justify-start overflow-hidden">
				<ul class="carousel-list flex flex-row my-auto transition">
					
				</ul>
			</div>
			<i class="fa fa-angle-right my-auto absolute top-full sm:top-1/2 right-20 z-30 cursor-pointer"></i>
		</div> -->
	</div>

	<div class="home-card rounded-xl mx-1 lg:mx-10 my-10 lg:my-0 border-blue-900 border-2 flex flex-col w-11/12 lg:w-5/12 webinar">
		<div class="w-full text-center font-serif flex justify-center">
			<div class="sliders-head w-max text-4xl pt-4 lg:text-6xl font-md" style="font-family: 'Montserrat', sans-serif;">Webinars</div>
		</div>
		<div class="evnt-slider w-72 lg:w-96 flex m-auto">
			<% webinar[0].forEach(web=> { %>
				<div class="h-24 my-14 w-full rounded-xl shadow-xl">
					<img src=<%- web.image %> alt=<%- web.name %> class="object-contain rounded-xl">
				</div>
			<% }) %>
		</div>
	</div>
	
	
	<!-- <div class="home-card rounded-xl mx-1 lg:mx-10 my-10 lg:my-0 border-blue-900 border-2 flex flex-col sm:flex-wrap w-screen lg:w-1/2 sm:flex-row pb-10 transform scale-90">
		<div class="w-full text-center font-serif flex justify-center">
			<div class="sliders-head w-max text-5xl pt-4 lg:text-8xl">Webinars</div>
		</div>
		<div class="web carousel w-full flex relative">
			<i class="fa fa-angle-left my-auto absolute top-full sm:top-1/2 w-6 z-30 cursor-pointer justify-center left-24"></i>
			<div class="carousel-disp m-auto flex w-80 lg:w-96 justify-start overflow-hidden">
				<ul class="carousel-list flex flex-row my-auto transition">
				</ul>
			</div>
			<i class="fa fa-angle-right my-auto absolute top-full sm:top-1/2 right-20 z-30 cursor-pointer"></i>
		</div>
	</div> -->
</section>

<section class="text-gray-600 body-font relative">
	<div class="absolute inset-0">
		<iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no"
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.869567015382!2d72.68206021378533!3d23.211423584857762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2adec1f16d8d%3A0xdc447b8706689bc3!2sIndian%20Institute%20of%20Technology%20Gandhinagar!5e0!3m2!1sen!2sin!4v1636614321509!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
	</div>
	<div class="container px-5 py-24 mx-auto flex">
		<div
			class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
			<h2 class="text-gray-900 text-2xl mb-1 font-bold title-font">Subscribe & Feedback</h2>
			<p class="leading-relaxed mb-5 text-gray-600">Your valuable feedback will help us to improve and
				motivate us
				to do better!
			</p>
			<div class="relative mb-4">
				<label for="name" class="leading-7 text-sm text-gray-600 font-medium">Name</label>
				<input type="name" id="name" name="name"
					class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
			</div>
			<div class="relative mb-4">
				<label for="email" class="leading-7 text-sm text-gray-600 font-medium">Email</label>
				<input type="email" id="email" name="email"
					class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
			</div>
			<div class="relative mb-4">
				<label for="message" class="leading-7 text-sm text-gray-600 font-medium">Feedback</label>
				<textarea id="message" name="message"
					class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
			</div>
			<button
				class="text-white bg-blue-600 border-0 py-2 px-6 focus:outline-none hover:bg-blue-800 rounded text-lg">Submit</button>
		</div>
	</div>
</section>

<section class="insta w-full flex m-auto  justify-center items-center">
	<div class="flex justify-center items-center flex-col rounded-xl mx-1 lg:mx-8 my-10 lg:my-6 border-blue-900 border-2 m-auto w-11/12 lg:w-5/12">
		<div class="text-5xl text-white mt-10 mb-5 text-center font-semibold">Amalthea on Instagram</div>
		<div class="instaslider w-80 lg:w-96 m-4 flex items-center justify-center">
			<% instacode.forEach(code=> { %>
				<div class="flex items-center justify-center">
					<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/<%- code %>/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
						<div style="padding:16px;">
						<a href="https://www.instagram.com/p/<%- code %>/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank">
							<div style=" display: flex; flex-direction: row; align-items: center;">
								<div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
								<div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
									<div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
									<div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
								</div>
							</div>
							<div style="padding: 19% 0;"></div>
							<div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
								<svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g transform="translate(-511.000000, -20.000000)" fill="#000000">
										<g>
											<path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path>
										</g>
									</g>
									</g>
								</svg>
							</div>
							<div style="padding-top: 8px;">
								<div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div>
							</div>
							<div style="padding: 12.5% 0;"></div>
							<div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
								<div>
									<div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
									<div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
									<div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
								</div>
								<div style="margin-left: 8px;">
									<div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
									<div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
								</div>
								<div style="margin-left: auto;">
									<div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
									<div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
									<div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
								</div>
							</div>
							<div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
								<div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
								<div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
							</div>
						</a>
						<p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/<%- code %>/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Amalthea, IIT Gandhinagar (@amalthea_iitgn)</a></p>
						</div>
					</blockquote>
				</div>
				<% }) %>
		</div>
	</div>
	
	 <script async src="//www.instagram.com/embed.js"></script>
</section>

<!-- <div class="grid mx-auto">
	<div id="instafeed-container" class="lg:flex lg:flex-row sm:flex sm:flex-col mx-auto"></div>
</div> -->

<!-- <script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script> -->
<!-- <script src="../js/insta.js"></script>
<script src="../js/home_instafeed.js"></script> -->
<script src="./js/home.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
	$(".instaslider").slick({
		lazyLoad: 'ondemand',
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 5000,
	});

	$('.evnt-slider').slick({
		lazyLoad: 'ondemand',
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 3000,
	});
		
</script>
<script type="text/javascript">
	const navlink = document.querySelectorAll(".navbar>ul>li");
	// console.log(navlink);
	navlink[0].style.color = "white"
	navlink[0].style.borderBottom = "2px solid white";
</script>