<link rel="stylesheet" href="../css/home.css">
<style>
    .main {
        overflow-x: hidden;
        background-image: url("/images/Background.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-shadow {
        background-color: rgba(44, 44, 44, 0.8);
    }
</style>

<div class="main">
    <div class="container mx-auto sm:text-7xl text-5xl mb-4 font-bold flex justify-center mt-28 textnewwhite">
        SPONSORS
    </div>
    <div class="spons1 mt-10">
            <a href="https://www.jsw.in/" target="_blank">
            <section class="text-gray-600 body-font">
                <div class="container mx-auto flex px-5 py-8 items-center justify-center flex-col">
                    <div class="text-center lg:w-2/3 w-full mb-5">
                        <div class="title-font md:text-4xl text-xl mb-4 font-medium textnewwhite ">
                            <span class="bg-shadow px-3 py-1">
                                Title Sponsor
                            </span>
                        </div>
                    </div>
                    
                    <img class="lg:w-3/12 md:w-3/6 w-5/6 mb-8 object-cover object-center rounded"
                        alt="JSW logo" src="/images/logo/JSWwithBG.png">
                </div>
            </section>
        </a>
        <a href="http://www.hindalco.com/" target="_blank">
            <section class="text-gray-600 body-font">
                <div class="container mx-auto flex px-5 py-8 items-center justify-center flex-col">
                    <div class="text-center lg:w-2/3 w-full mb-5">
                        <div class="title-font md:text-4xl text-xl mb-4 font-medium textnewwhite ">
                            <span class="bg-shadow px-3 py-1">
                                Associate Sponsor
                            </span>
                        </div>
                    </div>
                    <img class="lg:w-2/12 md:w-2/6 w-4/6 mb-4 object-cover object-center rounded"
                        alt="Hindalco logo" src="/images/logo/Hindalco.png">
                </div>
            </section>
        </a>
           
    </div>


    <div class="title-font md:text-4xl text-xl mb-4 font-medium textnewwhite text-center m-16">
        <span class="bg-shadow px-3 py-3">
            Gold Sponsors
        </span>
    </div>
    <div
        class="grid lg:grid-cols-3 lg:gap-10 lg:mx-10 lg:my-10 md:grid-cols-2 md:gap-8 md:mx-8 md:my-8  grid-cols-1 my-10 mx-auto mx-20">
        <% sponsors4.forEach(sponsor=> { %>
            <a href="<%= sponsor.website %> " target="_blank">
            <img src="<%= sponsor.image_link %>"
                class="mx-auto mx-10 my-10 w-4/6 sm:mx-10 sm:mx-auto sm:w-4/6 md:my-auto lg:w-3/4"
                alt="<%= sponsor.alt %>">
            </a>
            <% }) %>
    </div>


    <div class="title-font md:text-4xl text-xl mb-4 font-medium textnewwhite text-center m-16">
        <span class="bg-shadow px-3 py-3">
            Silver Sponsors
        </span>
    </div>
    <div
        class="grid lg:grid-cols-3 lg:gap-10 lg:mx-10 lg:my-10 md:grid-cols-2 md:gap-8 md:mx-8 md:my-8  grid-cols-1 my-10 mx-auto mx-20">
        <% sponsors3.forEach(sponsor=> { %>
            <a href="<%= sponsor.website %> " target="_blank">
            <img src="<%= sponsor.image_link %>"
                class="mx-auto mx-10 my-10 w-4/6 sm:mx-10 sm:mx-auto sm:w-4/6 md:my-auto lg:w-3/4"
                alt="<%= sponsor.alt %>">
                </a>
            <% }) %>
    </div>
    <div class="title-font md:text-4xl text-xl mb-4 font-medium textnewwhite text-center m-16">
        <span class="bg-shadow px-3 py-3">
            Event Partner
        </span>
    </div>
    <div
        class="grid lg:grid-cols-3 lg:gap-10 lg:mx-10 lg:my-10 md:grid-cols-2 md:gap-8 md:mx-8 md:my-8  grid-cols-1 my-10 mx-auto mx-20">
        <% sponsors2.forEach(sponsor=> { %>
            <a href="<%= sponsor.website %> " target="_blank">
            <img src="<%= sponsor.image_link %>"
                class="mx-auto mx-10 my-10 w-4/6 sm:mx-10 sm:mx-auto sm:w-4/6 md:my-auto lg:w-3/4"
                alt="<%= sponsor.alt %>">
                </a>
            <% }) %>
    </div>
    <div class="spons1 mt-10">
        <% sponsors5.forEach(sponsor=> { %>
            <a href="<%= sponsor.website %>" target="_blank">
            <section class="text-gray-600 body-font">
                <div class="container mx-auto flex px-5 py-8 items-center justify-center flex-col">
                    <div class="text-center lg:w-2/3 w-full mb-5">
                        <div class="title-font md:text-4xl text-xl mb-4 font-medium textnewwhite ">
                            <span class="bg-shadow px-3 py-1">
                                <%= sponsor.name %>
                            </span>
                        </div>
                    </div>
                    
                    <img class="lg:w-3/12 md:w-3/6 w-5/6 mb-8 object-cover object-center rounded"
                        alt="<%= sponsor.alt %>" src="<%= sponsor.image_link %>">
                   
                </div>
            </section>
             </a>
            <% }) %>
    </div>
</div>

<script type="text/javascript">
	const navlink = document.querySelectorAll(".full-nav>ul>li");
	// console.log(navlink);
	navlink[2].style.color = "white"
	navlink[2].style.fontWeight = "bold";
</script>