<link rel="stylesheet" href="../css/home.css">
<style>
    .main {
        overflow-x: hidden;
        background-image: url("/images/Background.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-shadow {
        background-color: rgba(44, 44, 44, 0.8);
    }
</style>

<div class="main">
    <div class="container mx-auto sm:text-7xl text-5xl mb-4 font-bold flex justify-center mt-28 textnewwhite">
        SPONSORS
    </div>
    <div class="spons1 mt-10">
        <% sponsors1.forEach(sponsor=> { %>
            <section class="text-gray-600 body-font">
                <div class="container mx-auto flex px-5 py-8 items-center justify-center flex-col">
                    <div class="text-center lg:w-2/3 w-full mb-5">
                        <div class="title-font sm:text-4xl text-3xl mb-4 font-medium textnewwhite ">
                            <span class="bg-shadow px-3 py-1">
                                <%= sponsor.name %>
                            </span>
                        </div>
                    </div>
                    <!-- <a href="<%= sponsor.website %>"> -->
                    <img class="lg:w-4/12 md:w-3/6 w-5/6 mb-8 object-cover object-center rounded"
                        alt="<%= sponsor.alt %>" src="<%= sponsor.image_link %>">
                    <!-- </a> -->
                </div>
            </section>
            <% }) %>
    </div>
    <div class="title-font sm:text-4xl text-3xl mb-4 font-medium textnewwhite text-center m-20">
        <span class="bg-shadow px-3 py-3">
            Event Partners
        </span>
    </div>
    <div
        class="grid lg:grid-cols-3 lg:gap-10 lg:mx-10 lg:my-10 md:grid-cols-2 md:gap-8 md:mx-8 md:my-8  grid-cols-1 my-10 mx-auto mx-20">
        <% sponsors2.forEach(sponsor=> { %>
            <!-- <div class="lg:col-span-4 mb-10">
                <div class="shadow-2xl border-2 border-gray-300">
                    <div class="bg-gray-100 justify-center"> -->
            <img src="<%= sponsor.image_link %>"
                class="mx-auto mx-10 my-10 w-4/6 sm:mx-10 sm:mx-auto sm:w-4/6 md:my-auto lg:w-full"
                alt="<%= sponsor.alt %>">
            <!-- </div>
                </div> -->

            <!-- </div> -->
            <% }) %>
    </div>
</div>