<link rel="stylesheet" href="../css/team.css">

<header class="bg-transparent w-full" style="height: 10vh; position: absolute;"></header>

<main class="w-full">
	<section class="contact-hero w-full h-screen flex flex-col justify-center items-center">
		<div class="text-5xl lg:text-8xl text-white font-extrabold">CONTACT US</div>
		<div class="mt-12 cursor-pointer">
			<a href="#secondPage"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-down" viewBox="0 0 16 16" id="down-arrow">
				<path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
			</svg></a>
		</div>
	</section>

	<section class="w-full flex flex-col items-center text-white" id="secondPage">
		<div class="w-full text-5xl text-center my-6 font-bold">Core Committee</div>
		<div class="w-full flex flex-wrap justify-center">
			<% contact.core.forEach(elem => { %>
				<div class="card-div h-80 w-full lg:w-1/3 px-8 my-4">
					<div class="contact-card h-full w-full flex flex-col overflow-hidden items-center rounded-2xl group transition-all">
						<img src=<%- elem.image + elem.name.replace(/ /g,"") + ".jpg" %> alt=<%- elem.name %> class="cont-img h-48 w-48 rounded-full my-8 transition-all object-cover">
						<div class="card-name text-2xl w-full text-center font-medium"><%- elem.name %></div>
						<div class="hover-cont mt-20 transition-all">
							<div class="flex">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="mt-1 mx-4" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
									<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
								</svg>
								<div class="card-name text-lg w-full text-left font-light text-gray-300"><%- elem.contact %></div>
							</div>
							<div class="flex">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="mt-1 mx-4" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
									<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
								</svg>
								<div class="card-name text-lg w-full text-center font-light text-gray-300"><%- elem.email %></div>
							</div>
						</div>
					</div>
				</div>
			<% }) %>
		</div>

		<div class="w-full text-5xl text-center my-6 font-bold">Coordinators</div>
		<div class="w-full flex flex-wrap justify-center">
			<% contact.coordi.forEach(elem => { %>
				<div class="card-div w-full lg:w-1/3 px-8 my-4">
					<div class="contact-card h-full w-full flex flex-col overflow-hidden items-center rounded-2xl group transition-all">
						<img src=<%- elem.image + elem.name.replace(/ /g,"") + ".jpg" %> alt=<%- elem.name %> class="cont-img h-48 w-48 rounded-full my-8 transition-all object-cover">
						<div class="card-name text-2xl w-full text-center font-medium"><%- elem.name %></div>
						<div class="card-name text-lg w-full text-center font-thin text-gray-300"><%- elem.pos %></div>
						<div class="hover-cont mt-20 transition-all">
							<div class="flex">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="mt-1 mx-4" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
									<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
								</svg>
								<div class="card-name text-lg w-full text-left font-light text-gray-300"><%- elem.contact %></div>
							</div>
							<div class="flex">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="mt-1 mx-4" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
									<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
								</svg>
								<div class="card-name text-lg w-full text-center font-light text-gray-300"><%- elem.email %></div>
							</div>
						</div>
					</div>
				</div>
			<% }) %>
		</div>

		<div class="w-full text-5xl text-center my-6 font-bold px-4">Web Development Team</div>
		<div class="w-full flex flex-wrap justify-center">
			<% contact.web.forEach(elem => { %>
				<div class="card-div h-80 w-full lg:w-1/3 px-8 my-4">
					<div class="contact-card h-full w-full flex flex-col overflow-hidden items-center rounded-2xl group transition-all bg-gray-900 hover:bg-gray-900">
						<img src=<%- elem.image + elem.name.replace(/ /g,"") + ".jpg" %> alt=<%- elem.name %> class="cont-img h-48 w-48 rounded-full my-8 transition-all object-cover">
						<div class="card-name text-2xl w-full text-center font-medium"><%- elem.name %></div>
						<div class="hover-cont mt-20 transition-all">
							<div class="flex">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="mt-1 mx-4" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
									<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
								</svg>
								<div class="card-name text-lg w-full text-left font-light text-gray-300"><%- elem.contact %></div>
							</div>
							<div class="flex">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="mt-1 mx-4" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
									<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
								</svg>
								<div class="card-name text-lg w-full text-center font-light text-gray-300"><%- elem.email %></div>
							</div>
						</div>
					</div>
				</div>
			<% }) %>
		</div>
	</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
	<script src="./js/team.js"></script>

</main>
<script type="text/javascript">
	const navlink = document.querySelectorAll(".full-nav>ul>li");
	// console.log(navlink);
	navlink[3].style.color = "white"
	navlink[3].style.fontWeight = "bold";
</script>